*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.container{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.container .dog-section .card-container .card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: calc(100% / 5 - 20px);
  border: 1px solid black;
}

.container .dog-section .card-container .card .immagine-container {
  height: 200px;

}

.section-icon{
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
  border-radius: 10px;
  top: 2px;
  left: 2px;
}

.type-icon{
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
  border-radius: 10px;
  top: 2px;
  right: 2px;
  background-color: white;
}

.container .dog-section .card-container .card .immagine-container .product_img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}